

$primary: #0E1635;
// color mappings

$secondary-color: #949AB0;
$primary-color: #0E1635;
$primary-light-color: #58b77d;
$primary-lighter: #d3fadf;
$primary-off-color: #00c8ec;
$primary-dark-shade: #2f4858;
