
.fs--8 {
    font-size: 0.8rem;
}

.fs--7 {
    font-size: 0.7rem;
}

.fw--7 {
    font-weight: 700 !important;
}

.fw--6 {
    font-weight: 600 !important;
}

.fw--8 {
    font-weight: 800 !important;
}