.form-control::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #ACACAC !important;
    font-weight: 600;
    padding: 0rem;
    margin: 0rem;
}

.form-control::-moz-placeholder {
    text-transform: uppercase;
    color: #ACACAC !important;
    font-weight: 600;
    padding: 0rem;
    margin: 0rem;
}

.form-control:-ms-input-placeholder {
    text-transform: uppercase;
    color: #ACACAC !important;
    font-weight: 600;
    padding: 0rem;
    margin: 0rem;
}

.form-control::placeholder {
    text-transform: uppercase;
    color: #ACACAC !important;
    font-weight: 600;
    padding: 0rem;
    margin: 0rem;
}
